*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
footer{
    background-color: lightslategrey;
    height: 100vh;
    display: flex;
    align-items: end;
}
footer>section{
    background-color: black;
    padding: 70px;
    width: 100%;
}
footer>section>.top{
    display: flex;
    justify-content: space-evenly;
}
footer>section>.top>ul{
    /* background-color: lightpink; */
    list-style-type: none;
}
.kfc{
    width: 60px;
    height: 60px;
}
.play{
    width: 140px;
    height: 50px;
}
footer>section>.top>ul>h4{
    color: white;
}
footer>section>.top>ul>li>a{
    color: white;
    text-decoration: none;
    margin-top: 10px;
    display: block;
}
footer>section>.top>ul>li>#map{
    text-decoration: underline;
    margin-top: 0;
}
