*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
section>h1{
    color:white;
}
section>.inner{
    height: 200px;
    width: 200px;
    background-color: yellow;
    /* transition:all 2s ease-in 1s; */
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in;
    transition-delay: 1s;

}
.inner:hover{
    background-color: azure;
    border-radius: 50%;
    
}

